/* tirando margens do código */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Aplicando o background pra não se repetir e definindo o tamanho para espaçamento ideal do menu*/
#mainInicial {
    background-image: url(./imgs/paginicial.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 92vh;
}

/*Tratando formas de links e tirando o tipo de texto*/
a {
    color: white;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}

/*Aplicando logo temporária*/
.logo img {
    height: 6vh;
}

/*Estilizando todo o nav*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #263868;
    height: 8vh;
}

/*Retirando estilização de menu e dividindo espaço com o background */
.menu {
    list-style: none;
    display: flex;
}

/*Adicionando animação nos itens de menu*/
.menu li {
    position: relative;
    display: inline-block;
    letter-spacing: 3px;
    margin-left: 53px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    ;
}

.menu li:hover {
    transform: scale(1.25, 1.25);
}

.menu li:hover::after {
    opacity: 1;
}

/*[[Página de hospedagem]]*/

/*Centralizando os planos e colocando um ao lado do outro*/

.mainHospedagem {
    box-sizing: border-box;
	min-height: 92vh;
	display: flex;
	align-items: center;
    font-family:Arial, Helvetica, sans-serif;

}

/*organizando tamanho da tabela de preços para ficar tudo igual*/
.precoDeHospedagem {
    background-color: #142a64;
    display: flex;
    flex-wrap: wrap;
    min-height: 595px;
    max-height: 600px;
    min-width: 355px;
    max-width: 360px;
    justify-content: space-around;
    margin: auto;
}


.planos {
    color: white;
    flex: 1;
    max-width: 360px;
    margin: 20px 10px;
    text-align: center;
    overflow: hidden;
    transition: .8s linear;
}

/*Adicionando animação no*/
.planos:hover .tituloPlano {
    box-shadow: 0 0 0 24em #152d6c;
}

/*Adicionando animação no título e colocando bordas de background*/
.tituloPlano {
    background-color: #f4b800;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 18px;
    font-weight: 600px;
    transition: .7s line;
}

/*Ajustando cor e tamanho do preço*/
.precoPlano {
    font-size: 60px;
    color: yellow;
    margin: 40px 0;
    transition: .8s linear;
}


.planos:hover, .planos:hover .precoPlano
{
	color: white;
}

/*Deixando a lista em maiusculo*/
.planos li{
    font-size: 16px;
	padding: 10px 0;
	text-transform: uppercase;
}

/*Estilizando o botão e adicionando animação*/
#assinarPlano{
    cursor: pointer;
    padding: 18px 40px;
    color: #183fa7;
    display: inline-block;
	border: 2px solid #183fa7;
	border-radius:  8px;
	font-weight: 600;
	transition:  .3s linear;
}

#assinarPlano:hover{
    transform: scale(1.05, 1.05);
    color: white;
}

/*Catálogo*/

.imgsTemplates{
    text-align: center;
    max-height: 92vh;
    margin-top: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#imgTemplates{
    max-height: 92vh;
    margin-top: 2rem;
    width: 70rem;
}
#buttonTemplates{
    position: relative;
    max-height: 0vh;
}
#texttp{
    margin-top: 2rem;
}
#desctp{
    font-size: 1rem;
}