/* tirando margens do código */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Aplicando o background pra não se repetir e definindo o tamanho para espaçamento ideal do menu*/
#mainInicial {
    background-image: url(./imgs/paginicial.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 92vh;
}

/*Tratando formas de links e tirando o tipo de texto*/
a {
    color: white;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
}

/*Aplicando logo temporária*/
.logo img {
    height: 6vh;
}

/*Estilizando todo o nav*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #263868;
    height: 8vh;
}

/*Retirando estilização de menu e dividindo espaço com o background */
.menu {
    list-style: none;
    display: flex;
}

/*Adicionando animação nos itens de menu*/
.menu li {
    position: relative;
    display: inline-block;
    letter-spacing: 3px;
    margin-left: 53px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    ;
}

.menu li:hover {
    transform: scale(1.25, 1.25);
}

.menu li:hover::after {
    opacity: 1;
}

/*[[Página de hospedagem]]*/

/*Centralizando os planos e colocando um ao lado do outro*/

#hospedagem{
align-items: center;
}

.mainHospedagem {
    min-height: 92vh;
    box-sizing: border-box;
    display: flex;

}

.precoDeHospedagem {
    min-width: 360px;
    max-width: 600px;
    background-color: #142a64;
    display: flex;
    flex-wrap: wrap;
    width: min(1600px, 100%);
    justify-content: space-around;
    margin: auto;
}


.planos {
    cursor: pointer;
    color: white;
    flex: 1;
    max-width: 360px;
    margin: 20px 10px;
    text-align: center;
    overflow: hidden;
    transition: .2s linear;
}

.planos:hover .tituloPlano {
    box-shadow: 0 0 0 26em #ffdb15;
}

.tituloPlano {
    background-color: #f4b800;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    font-weight: 600px;
    transition: .5s line;
}

.precoPlano {
    font-size: 70px;
    color: yellow;
    margin: 40px 0;
    transition: .2s linear;
}
