<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Model 2</title>
    <link rel="stylesheet" href="styletemp2.css">
</head>
<body>
    <div class="container">
        <div class="navegacao">
            <div class="icone">
                <h2 class="logo">LoremIpsum</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">SOBRE</a></li>
                    <li><a href="#">SERVIÇOS</a></li>
                    <li><a href="#">DESIGNER</a></li>
                    <li><a href="#">CONTATO</a></li>
                </ul>
            </div>

            <div class="pesquisa">
                <input class="pesq" type="search" name="" placeholder="Pesquisa">
                <a href="#"><button class="botao">Pesquisar</button></a>
            </div>
        </div>
        <div class="conteudo">
            <h1>Vendas & <br> <span>Desenvolvimento</span> <br>Curso Online</h1>
            <p class="paragrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In provident <br>
                culpa quae repudiandae, alias tempora <br> corrupti laborum atque temporibus aliquam libero obcaecati velit, hic 
                <br> dolore! Omnis corporis voluptatibus ad obcaecati?</p>

                <button class="botao2"> <a href="#">Venha Conosco</a></button>

                <div class="formulario">
                    <h2>Logue Aqui</h2>
                    <input type="email" name="email" placeholder="Insira Seu Email">
                    <input type="password" name="" placeholder="Insira Sua Senha">
                    <button class="botao3"><a href="#">Login</a></button>

                    <p class="link">Não tem uma conta<br>
                    <a href="#">Inscreva</a>-se</a></p>
                    <p class="logC">Logar com</p>

                    <div class="icones">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>