<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Model 3</title>
    <link rel="stylesheet" href="styletemp3.css">
</head>
<body>
    <div class="container">
        <nav class="navegacao">
            <div class="logo">
                <h1>Lorem ipsum</h1>
            </div>

            <div class="menu">
                <ul class="opcoes">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Conteúdo</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="conteudo">
            <div class="formulario">
                <h3>Faça seu cadastro</h3>
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Insira sua senha">
                <input type="text" placeholder="Repita sua senha">
                <button>Criar conta</button>
            </div>
        </div>
    </div>
</body>
</html>