<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Model 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <nav class="navegacao">
            <img class="logo" src="Imagens/Logo.png" alt="Logo">
            <ul>
                <li><a class="ativar" href="#">INICIO</a></li>
                <li><a href="#">SOBRE</a></li>
                <li><a href="#">SERVIÇOS</a></li>
                <li><a href="#">CONTATO</a></li>
                <li><a href="#">FEEDBACK</a></li>
            </ul>
        </nav>
        <div class="centro">
            <h1>Bem Vindo Ao Template 1</h1>
            <h2>Algo Novo</h2>
            <div class="botoes">
                <button>Faz Algo</button>
                <button class="btn">Alguma Coisa</button>
            </div>
        </div>
    </div>
</body>
</html>